/*
html {
    height: 100%;
}*/

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: url(image/fundo\ do\ site.png);

}


/*header{

    display: flex;
    justify-content: center;
    border: 10px;
    width: 100%;
    height: 50px;
}*/
/*.logosite {
    /*display: flex;
    justify-content: center;
    background-color: #1c2e7a;
    width: 100%;
}
*/

.botao {
    font: inherit;
    font-weight: 100;
    font-size: 12px;
    color:whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0.2em;
    cursor: pointer;
    display: inline-block;
    margin: 1.5em;
    padding: 1em 2em;
    background-color: #01b3f9;
    border: 0;
    border-radius: 18px;
    box-shadow: 0px 2px 4px 0px rgba( 0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    outline: none;
}

.botao:active{
    box-shadow: 0 0 0 0 rgba( 0, 0, 0, 0.3), inset 3px 3px 3px rgba( 0, 0, 0, 0.3);
    transition: translate(3px, 3px);
}

.botao.preto {
    background-color: #111;
}

.botao.branco {
    background-color: #fff;
    color: #111111;
}

.botao.azul:active{
    box-shadow: 0 0 0 0 #1e3181, inset 3px 3px 3px #1e3181;
}

.bg-gradiente-azul{
    background-image: linear-gradient(to right, #0540b6 , #01b3f9);
    color: whitesmoke;
}
.bg-gradiente-azulmarinho {
    background-image: linear-gradient(45deg, #33afbf , #167f6f);
    color: whitesmoke;
}

.bg-gradiente-pretoazulmarinho {
    background-image: linear-gradient(45deg, #0077b7, #111);
    color: whitesmoke;
}

.bg-gradiente-branco {
    background-image: linear-gradient(45deg, #EEE, #FFF);
}

.bg-blur{
    opacity: 0.52;
    backdrop-filter: saturate(180%) blur(20px);
}

.bg-color-preto {
    background-color: #111;
    color: whitesmoke;
}

.container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    font-size: 14px;
}

/*seleciona o .container que vem depois do container diagonal */
.container.diagonal + .container {
    padding-top: 120px;
}

.diagonal::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-7deg);


}

.conteudo {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
}

.col-50 {
    width: 50%;
    padding: 0 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 950px) {
    .col-50 {
        width: 100%;
    }
}

.titulo {
    font-weight: 100;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
}

.alignright {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

a {

    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #01b3f9;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 99999999;
    top: 0;
    width: 100%;
    opacity: 0.72;
    backdrop-filter: saturate(180%) blur(20px);
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #1c2e7a;
}

@keyframes fa-blink {
    0% { opacity: 0.5; transform: scale(1) }
    50% { opacity: 1; transform: scale(0.8) }
    100% { opacity: 0.5; transform: scale(1)}
}
.fa-blink {
    float: right;
    width: 30%;
    animation: fa-blink 15s linear infinite;
}


.textCovid {
    display: flex;
    font-family: 'Montserrat'sans-serif;
    font-weight: lighter;
}

.card {
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 5px;

}

.card-dark {
    border: 1px solid #000000;
    background-color: #222;
    border-radius: 5px;
}

.card-dark iframe {
    border-radius: 5px 5px 0 0;
}

.card img {
    border-radius: 5px 5px 0 0;
}

.card-text {
    padding: 15px;
}

.imgNoticia {
    width: 100%;
}

h3 {
    margin-left: 12px;
    margin-right: 12px;
    text-align: start;
    font-size: 20px;

}

.container-video {
    padding: 60px 0;
    border-top: 20px dashed #FFF;
    border-bottom: 20px dashed #FFF;
    text-align: center;
}

.videoNot {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoNot iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    border: 0;

}

.AudioNot {
    width: 100%;
    height: 300px;
}

.AudioNot iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imgspace {
    display: flex;
    justify-content:space-evenly ;
    margin-top: 60px;
    margin-bottom: 60px;
}

.img-sobre {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    animation: fa-blink 15s linear infinite;
}

/*form para contato*/
.form-contact {
    max-width: 500px;
    margin: 30px auto;
}

.form-input {
    width: 100%;
    color: #111;
    font-size: 12px;
    background-color: #f3f3f5;
    border: none;
    border-radius: 18px;
    padding: 1em 2em;
    margin-bottom: 20px;
    text-indent: 20px;
    outline: none;
}

.rodape {
    width: 5%;
    margin: 20px;
}

.rodapefont {
    margin: 30px;
    text-align: left;
}

.sizeimg {
    width: 290px;
}

.sizeimgfooter{
    width: 290px;
}
